
.header {
    position: fixed;
    height: 60px;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: red;
    transition: all ease 0.5s;
    .logo {
        cursor: pointer;
        height: 50px;
    }
}